*~
__pycache__

doc/sphinx/build/
doc/sphinx/source/api/

lextab.py
parser.out
parsetab.py

PythonicGCodeMachine/PythonLexYacc/yacc.py
ressources

TOFIX.txt
notes.txt
open-doc.sh
template-variables.txt
tools/upload-www
topics.txt
